@charset "UTF-8";

button {
    border: 2px solid #000;
    border-radius: 0;
    color: #fff;
    background: #000;
    font-weight: 700;
    padding: 5px;
}

p{
    margin: 1%;
}

.contents-wrap {
	display: flex;
	justify-content: space-between;
	margin-bottom: 7rem;
}

.contents-wrap {
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
}

.contents-text {
    text-align: left;
	width: 50%; /*flex: 2;*/
}
.contents-img {
    text-align: right;
	width: 40%; /*flex: 1;*/
    margin: 0 5%;
}

.contents-text p {
    margin-bottom: 0;
}

textarea{
    padding: 1%;
    border-radius:10px;
}

.btnLeft {
    display: block;
    padding: 5px;
    margin: 5px 5px 5px auto;
    font-size: 12px;
}

.btnRight{
    display: block;
    padding: 5px;
    margin: 5px auto 5px 5px;
    font-size: 12px;
}

.btn{
    display: block;
    padding: 5px;
    margin: 5px;
    font-size: 12px;
}

.Btn{
    display: flex;
    justify-content: flex-end;
}