@charset "UTF-8";

select {
    background-color: transparent;
    border-style: none;
    color: inherit;
}

body{
    background: #eeebe7;
    width: auto;
    margin: auto;
    text-align: center;
}

/* ===== 書籍検索 ===== */
.cp_iptxt {
    position: relative;
    width: 50%;
    margin: auto;
}

/* ---- text ---- */
.cp_iptxt input[type='text'] {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    color: #aaaaaa;
    border: none;
    border-bottom: 2px solid #1b2538;
    background: transparent;
}
.ef input[type='text']:focus {
    border-bottom: 2px solid #da3c41;
    outline: none;
}

/* ---- Select Box ---- */
.sel {
    font-size: 1rem;
    display: inline-block;
    margin: 3em 2em;
    width: 350px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    color: #aaaaaa;
    border-bottom: 2px solid #1b2538;
}
select#sort {
    width: 100%;
    outline: none;
}

/* ===== 検索結果表示(書籍一覧) ===== */
.contents-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;
    width: 80%;
    margin: auto;
    flex-direction: row;
    margin-top: 20px;
}

/* ---- 書籍画像 ---- */
.contents-img {
    width: 30%;
    margin-bottom: 10px;
}
.contents-img img {
    vertical-align: sub;
    width: 40%;
    height: auto;
}

/* ---- 書籍情報 ---- */
.contents-text {
    text-align: left;
    width: 60%; /*flex: 2;*/
}
.contents-text p {
    margin-bottom: 0;
}


/* ===== button ===== */
button {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

/* ---- 検索ボタン ---- */
button {
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
}
button {
    color: #fff;
    background: #000;
}

/* ==== 書籍情報ボタン ==== */
.Btn{
    display: flex;
    justify-content: flex-end;
}
/* ---- 所持書籍追加ボタン ---- */
.addBtn {
    display: block;
    padding: 0;
    margin: 0 15px 0 auto;
    font-size: 12px;
}
/* ---- 楽天リンク ---- */
.link {
    font-weight: 700;
    text-decoration: none;
    font-size     : 9pt;        /* 文字サイズ */
    vertical-align: middle;      /* 文字位置   */
    padding       : 12px 5px;   /* 余白       */
    background    : #000000;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
}