<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>読書記録</title>
<!-- ここから -->
    <script defer src="/__/firebase/9.6.6/firebase-app-compat.js"></script>
    <script defer src="/__/firebase/9.6.6/firebase-firestore-compat.js"></script>
    <script defer src="/__/firebase/init.js?useEmulator=true"></script>
    <link rel="stylesheet" href="style.css">
    <script src="src/jquery-3.6.0.min.js"></script>
    <script src="src/vue.js"></script>
<!-- ここまではいじらないで -->
</head>

<body>
    <div id="main" v-cloak>
        <div id="updateAlert">更新しました</div>
        <h2>書籍情報・読書記録</h2>
        <h3>{{ title }}</h3>
        <img :src="bigImg">
        <p>著者 : {{ author }}</p>
        <p>出版社 : {{ publisher }}</p>
        <p>今まで読んだ時間 : <span v-if="hh > 0">{{ hh }}時間</span><span v-if="mm > 0 || hh > 0">{{ mm }}分</span>{{ ss }}秒</p>
        <p>最後に読んだ日 : {{ lastReadDate }}</p>
        <h3>Public review</h3>
        <textarea name="public" id="publicReview" cols="50" rows="10" v-model="public"></textarea>
        <h3>Private review</h3>
        <textarea name="private" id="privateReview" cols="50" rows="10" v-model="private"></textarea><br>
        <input type="button" id="back" class="btn" value="戻る" onclick="history.back()">
        <input type="button" id="update" class="btn" value="更新" @click="bookDataUpdate">
    </div>
    <script src="src/main.js"></script>
</body>

</html>