<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>書籍検索</title>
    <script defer src="/__/firebase/9.6.6/firebase-app-compat.js"></script>
    <script defer src="/__/firebase/9.6.6/firebase-firestore-compat.js"></script>
    <script defer src="/__/firebase/init.js?useEmulator=true"></script>
    <link rel="stylesheet" href="style/search.css">
    <link rel="stylesheet" href="style/style.css">
    <script src="src/jquery-3.6.0.min.js"></script>
    <script src="src/vue.js"></script>
</head>

<body>
    <div id="all">
        <header id="header">
            <a href="index.html"><img src="img/MicrosoftTeams-image (1).png" alt="Logo" height="70" width="140"></a>
            <nav>
                <ul id="g-navi">
                    <li><a href="search.html">書籍検索</a></li>
                </ul>
            </nav>
        </header>
        <div id="main" v-cloak>
            <div id="addAlert">追加しました</div>
            <h1 id="pageTitle">書籍検索</h1>
            <div class="cp_iptxt">
                <label class="ef">
                    <input type="text" v-model="title" id="title" placeholder="タイトル">
                    <input type="text" v-model="author" id="author" placeholder="著者名">
                    <input type="text" v-model="publisher" id="publisherName" placeholder="出版社">
                </label>
            </div>
            <div class="sel sel--black-panther">
                <select name="select-profession" name="sortselect" id="sort">
                    <option value="standard" hidden>並び替え</option>
                    <option value="standard">標準</option>
                    <option value="sales">売れている</option>
                    <option value="%2BreleaseDate">発売日(古い)</option>
                    <option value="-releaseDate">発売日(新しい)</option>
                    <option value="%2BitemPrice">価格が安い</option>
                    <option value="-itemPrice">価格が高い</option>
                    <option value="reviewCount">レビューが多い</option>
                    <option value="reviewAverage">評価が高い</option>
                </select>
                <span class="cp_sl06_highlight"></span>
                <span class="cp_sl06_selectbar"></span>
            </div>
            <button @click="bookSearch">検索</button>
            <div class="contents-wrap" v-for="val in bookSearchResult">
                <div class="contents-img"><a :href="val.url" id="imgURL" target="_blank"><img :src="val.img" id="resultImg"></a></div>
                <div class="contents-text warps">
                    <p>
                        {{ val.title }}<br>
                        {{ val.author }}<br>
                        {{ val.publisher }}<br>
                        {{ val.price }}
                    </p>
                    <div class="Btn">
                        <button class="addBtn" @click="myBookAdd(val.isbn)" v-if="flg">所持書籍に追加</button>
                        <a class="link" :href="val.url" target="_blank" v-if="flg">楽天リンク</a>
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer">
            <small>&copy; copyright.<br>Built with Firebase</small>
        </footer>
    </div>

    <script src="src/main.js"></script>
    <script src="src/sub.js"></script>
</body>

</html>