@charset "UTF-8";

body{
    width: auto;
    margin: auto;
    text-align: center;
}

.flex{
    display: flex;
}

.flex a{
    margin: auto 30px 0 auto;
}

.flex img{
    margin: 10px;
}

#imgURL{
    margin: 0;
    text-align: left;
}

[v-cloak] {
    display: none;
}

.result{
    text-align: left;
    margin: 10px;
}

#deleteAlert, #addAlert{
    display: none;
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    font-size: 20px;
    border-radius: 15px;
    border: solid 1px;
    border-color: #008000;
    background-color: #00ff00;
    color: #fff;
    padding: 0.5% 2%;
}